---
import Menu from "../components/Menu.astro";


const {frontmatter}  =Astro.props;



---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <h1>{frontmatter.title}</h1>
        <h2>{frontmatter.fecha}</h2>
      <Menu></Menu>
        <div class="container">
        <slot></slot>
        </div>
    </body>
</html>

<style>
    .container {
        padding: 50px ;
        width: 70%;
        text-align: justify;
    }
</style>